* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Operator Mono";
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #130f40;
  .btn {
    padding: 1em 2em;
    background-color: #c7ecee;
    color: #be2edd;
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 20px;
  }
  h1 {
    opacity: 0;
    margin-top: 1em;
    color: #2ed573;
  }
}
